html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #252525;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

.button {
    font-size: 20px;
    font: bold;
}

.btn-outline-dark:hover,
.btn-outline-dark:active,
.btn-outline-dark:focus {
    background: #252525 !important;
    color: #ffffff !important;
}

.btn-outline-light:hover,
.btn-outline-light:active,
.btn-outline-light:focus {
    color: #252525 !important;
}

.btn-outline-dark {
    color: #252525 !important;
}

.btn-outline-light {
    color: #ffffff !important;
}

.btn-light {
    background: #ffffff !important;
    color: #252525 !important;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background: #252525 !important;
}

.btn-dark {
    color: #ffffff !important;
}

.about_img {
    padding-top: 5%;
}

.art {
    border: 3px solid #f7f0f0;
    box-shadow: 0 0 7px #666;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.invalid-feedback p {
    color: #dc3545;
}

.currentLogin {
    display: none;
}

:visited {
    color: #fa5f1a
}

#main {
    width: 960px;
}

.err_page {
    margin-top: 10%;
    text-align: center;
}

.content {
    margin-top: 100px;
    font-size: 25px;
    color: #252525;
    margin-bottom: 20px;
}

.table {
    border-width: 1px;
    padding: 5px;
    margin-top: 20px;
}

.table a {
    color: #252525
}

th {
    padding: 5px;
    background: #252525 !important;
}

td {
    padding: 5px;
}

tr:hover {
    background-color: #f7f0f0
}

a:hover,
a:focus,
a:active {
    text-decoration: none !important;
    color: #fa5f1a !important;
}

nav {
    width: 100%;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
}

.panel {
    background-color: #252525;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 3%;
}

.panel a,
.panel button {
    color: rgb(255, 255, 255) !important;
}

.btn {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.panel a:hover,
.panel a:focus,
.panel a:active {
    text-decoration: none !important;
    color: #fa5f1a !important;
}

label {
    font-size: 25px;
}

.input-group-text {
    font-size: 25px !important;
    padding-bottom: 7px !important;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}

.nav-menu button {
    margin-right: 10px;
}

.nav-menu-buttons {
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-menu-buttons a {
    margin-right: 10px;
}

.nav-menu a {
    padding: 10px 15px;
    position: relative;
}

.nav-menu a:before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    width: 0;
    bottom: 6px;
    height: 3px;
    background: #252525;
}

.category h2 {
    text-align: center;
}

.category button {
    margin: auto;
    display: block;
}

.login-form {
    padding-top: 40px;
}

.search-bar {
    margin-top: -2%;
}

.product,
.user {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.product img,
.user img {
    width: 45%;
    display: block;
    height: auto;
    margin-right: 25px;
}

.product-info,
.user-info {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.product-info .name,
.user-info .name {
    font-size: 22px;
    font-weight: bold;
}

.product-info span,
.user-info span {
    font-size: 16px;
    margin-bottom: 5px;
}

.img_mini {
    width: 50px;
}

.search {
    margin-right: 20px;
}

.buttons_control {
    margin-top: 50px;
}

.buttons_control button {
    margin-bottom: 10px;
}

.big_butt {
    margin-top: 30px;
}

.custom-file-input,
.custom-select {
    font-size: 20px !important;
    height: 52px !important
}